
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- Start main-content -->
        <div class="main-content">

            <!-- Section: inner-header -->
            <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="/Content/images/bg/bg6.jpg">
                <div class="container pt-90 pb-50">
                    <!-- Section Content -->
                    <div class="section-content pt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title text-theme-colored">Forgot Password</h3>
                                @if (ViewBag.msg != null)
                                {
                                    <div class="alert alert-success">
                                        <strong> @ViewBag.msg</strong>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#login-tab" data-toggle="tab">Password Recovery</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active p-15" id="login-tab">
                                    <h4 class="text-gray mt-0 pt-5"> Recover your password</h4>
                                    <hr>

                                    <form name="login-form" class="clearfix" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="form_username_email">Email</label>
                                                <input id="form_username_email" name="email" class="form-control" type="text">
                                            </div>
                                        </div>



                                        <div class="clear text-center pt-10">
                                            <div class="form-group">
                                                <button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <div class="clear text-center pt-10">
                                            <div class="form-group">
                                                <input class="btn btn-dark btn-lg btn-block" type="button" value="Back" onclick="location.href='@Url.Action("login_register", "Home")'" />
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>



