
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sign Up";
}



<script type="text/javascript">


    function validate() {
        document.getElementById("message1").innerHTML = "";
        document.getElementById("message2").innerHTML = "";
        document.getElementById("message3").innerHTML = "";
        document.getElementById("message4").innerHTML = "";
        document.getElementById("message5").innerHTML = "";
        document.getElementById("message6").innerHTML = "";
        document.getElementById("message7").innerHTML = "";
        document.getElementById("message8").innerHTML = "";

        if (document.myForm.name.value == "") {

            document.getElementById('message1').style.color = 'red';
            document.getElementById('message1').innerHTML = 'Please provide the name of your organization!';
            document.myForm.name.focus();
            return false;
        }

        if (document.myForm.contactperson.value == "") {

            document.getElementById('message2').style.color = 'red';
            document.getElementById('message2').innerHTML = 'Please provide contact persons name!';
            document.myForm.contactperson.focus();
            return false;
        }
        if (document.myForm.desig.value == "") {
            document.getElementById('message3').style.color = 'red';
            document.getElementById('message3').innerHTML = 'Designation of contact person is required!';
            document.myForm.desig.focus();
            return false;
        }
        if (document.myForm.address.value == "") {
            document.getElementById('message4').style.color = 'red';
            document.getElementById('message4').innerHTML = 'Address is required!';
            document.myForm.address.focus();
            return false;
        }

        if (document.myForm.email.value == "") {
            document.getElementById('message5').style.color = 'red';
            document.getElementById('message5').innerHTML = 'Email address is required!';
            document.myForm.email.focus();
            return false;
        }

        if (document.myForm.mobile.value == "") {
            document.getElementById('message6').style.color = 'red';
            document.getElementById('message6').innerHTML = 'Mobile number is required!';
            document.myForm.mobile.focus();
            return false;
        }
        if (document.myForm.tel.value == "") {
            document.getElementById('message7').style.color = 'red';
            document.getElementById('message7').innerHTML = 'Telephone number is required!';
            document.myForm.tel.focus();
            return false;
        }
        if (document.myForm.pass.value == "") {
            document.getElementById('message8').style.color = 'red';
            document.getElementById('message8').innerHTML = 'Password is required!';
            document.myForm.pass.focus();
            return false;
        }
        return (true);
    }
    //-->
    var check = function () {
        if (document.getElementById('pass').value ==
            document.getElementById('confirmpass').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Passwords match';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Passwords do not match!';
        }
    }

</script>
<body class="">
    <!-- Start main-content -->
    <div class="main-content">
        <!-- Section: inner-header -->

        <section>
            <div class="container pt-100 pb-50">
                <!-- Section Content -->
                <div class="section-content pt-92">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title text-white"><span class="text-theme-colored" style="font-size: 2.5rem" ;>Register now as NGO!</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                @if (ViewBag.Message == "Account Created")
                {
                    <div class="alert alert-success" role="alert">
                        Account Successfully Created !
                    </div>
                }
                else if (ViewBag.Message == "Not Created")
                {
                    <div class="alert alert-danger" role="alert">
                        Account Creation Failed !
                    </div>
                }
                else
                {

                }
                <div class="row">
                    <div class="col-md-6 col-md-push-3">
                        <form name="myForm" class="register-form" method="post" onsubmit="return (validate());">
                            <div class="icon-box mb-0 p-0">
                                <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                    <i class="pe-7s-users"></i>
                                </a>
                                <h4 class="text-gray pt-10 mt-0 mb-30">Don't have an Account? Register Now as NGO.</h4>
                            </div>
                            <hr>
                            <div class="row">

                                <div class="form-group col-md-12">
                                    <label for="form_name">Name</label>
                                    <input required id="form_name" name="name" class="form-control" type="text">
                                    <span id="message1"></span>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="form_name">Contact Person</label>
                                    <input required id="form_name" name="contactperson" class="form-control" type="text">
                                    <span id="message2"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="form_name">Designation in the Organization</label>
                                    <input required id="form_name" name="desig" class="form-control" type="text">
                                    <span id="message3"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="form_name">Physical Address</label>
                                    <textarea required maxlength="150" name="address" class="form-control"></textarea>
                                    <span id="message4"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="email">Email</label>
                                    <input required id="email" name="email" class="form-control" type="email">
                                    <span id="message5"></span>
                                    @*<label for="form_name">Email</label>
                                        <textarea name="email" class="form-control"></textarea>
                                        <span id="message5"></span>*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Mobile No</label>
                                    <input required  placeholder="Enter 10 digit mobile number" id="form_email" name="mobile" class="form-control" type="tel">
                                    <span id="message6"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Telephone No (Office)</label>
                                    <input required id="form_email" name="tel" class="form-control" type="tel">
                                    <span id="message7"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="form_name">Password</label>
                                    <input required id="pass" name="pass" class="form-control" type="password" onkeyup='check()' ;>
                                    <span id="message8"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="form_name">Comfirm Password</label>
                                    <input required id="confirmpass" name="confirmpass" class="form-control" type="password" onkeyup='check()' ;>
                                    <span id="message"></span>

                                </div>

                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>  <!-- end main-content -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</body>

