@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
}

<body class="">
        <!-- Start main-content -->
        <div class="main-content">

            <!-- Section: inner-header -->
            <section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="~/Content/images/bg/bg1.jpg">
                <div class="container pt-90 pb-50">
                    <!-- Section Content -->
                    <div class="section-content pt-100">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title text-theme-colored">NGO PROFILE</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="container col-md-12">
                                <a class="btn btn-dark btn-lg btn-block no-border mt-15 mb-15" href="#" data-bg-color="#3b5998">Create New Project</a>
                            </div>

                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="container col-md-12">
                                <div class="col-xs-12 col-sm-12 col-md-12 mb-40">
                                    <a class="image-popup-vertical-fit" title="Title Here 1" href="~/Content/images/c1.jpg"><img src="~/Content/images/c1.jpg" alt=""></a>
                                    <h3>Cleaning Campaign At Nazimabad</h3>
                                    <ul class="list theme-colored">
                                        <li><strong>Location</strong> : Nazimabad, Karachi</li>
                                        <li><strong>Date</strong> : 22/11/19</li>
                                        <li><strong>Project Duration</strong> : 2-4 Hours</li>
                                    </ul>
                                    <a href="@Url.Action("page_running_projects_details", "Home")" class="btn btn-sm btn-theme-colored">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end main-content -->
     
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/Content/js/custom.js"></script>

</body>

<!-- Mirrored from html.kodesolution.live/m/echarity/v2/demo/form-login-register-style2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 31 Oct 2019 13:11:25 GMT -->
