
<body class="">
    <div id="wrapper">

        <div class="main-content">
            <!-- Section: inner-header -->
            <section>
                <div class="container pt-100 pb-50">
                    <!-- Section Content -->
                    <div class="section-content pt-92">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="title text-white"><span class="text-theme-colored" style="font-size: 2.5rem" ;>Our Past Projects</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Section: Facilities -->
            <section>
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 mb-40">
                                <a class="image-popup-vertical-fit" title="Title Here 1" href="~/Content/images/c1.jpg"><img src="~/Content/images/c1.jpg" alt=""></a>
                                <h3>Cleaning Campaign At Nazimabad</h3>
                                <ul class="list theme-colored">
                                    <li><strong>Location</strong> : Nazimabad, Karachi</li>
                                    <li><strong>Date</strong> : 22/10/19</li>
                                    <li><strong>Project Duration</strong> : 2-4 Hours</li>
                                </ul>
                                <a href="@Url.Action("page_running_projects_details", "Home")" class="btn btn-sm btn-theme-colored">Read more</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 mb-40">
                                <a class="image-popup-vertical-fit" title="Title Here 1" href="~/Content/images/c2.jpg"><img src="~/Content/images/c2.jpg" alt=""></a>
                                <h3>Cleaning Campaign At Lyari</h3>
                                <ul class="list theme-colored">
                                    <li><strong>Location</strong> : Lyari, Karachi</li>
                                    <li><strong>Date</strong> : 28/10/19</li>
                                    <li><strong>Project Duration</strong> : 2-4 Hours</li>
                                </ul>

                                <a href="@Url.Action("page_running_projects_details", "Home")" class="btn btn-sm btn-theme-colored">Read more</a>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-6 mb-40">
                                <a class="image-popup-vertical-fit" title="Title Here 1" href="~/Content/images/c3.jpg"><img src="~/Content/images/c3.jpg" alt=""></a>
                                <h3>Cleaning Campaign At PECHS</h3>
                                <ul class="list theme-colored">
                                    <li><strong>Location</strong> : PECHS, Karachi</li>
                                    <li><strong>Date</strong> : 30/10/19</li>
                                    <li><strong>Project Duration</strong> : 2-4 Hours</li>
                                </ul>

                                <a href="@Url.Action("page_running_projects_details", "Home")" class="btn btn-sm btn-theme-colored">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <script src="~/Content/js/calendar-events-data.js"></script>

</body>